a.CrowdCard.ui.card {
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  border-radius: .3em;
  color: white;

  box-shadow: 0px 7px 10px -5px black;

  /*padding: .2em;*/

  box-sizing: border-box;
}
.ui.cards a.CrowdCard.ui.card:hover, a.CrowdCard.ui.card:hover {
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
}

.CrowdCard .center {
  margin: auto;
}

.CrowdCard.card .extra .statistics {
  margin: 0px;
  /*padding: 2em;*/
}

.CrowdCard.card .extra .statistics .statistic {
  /*padding: .5em;*/
}

.CrowdCard .ui.statistics {
  height: 100%;
  align-cards: center;
}

.CrowdCard .ui.statistics .statistic {
  margin: 0px;
}
