.Landing .splash {
  text-align: center;

  height: 50rem;
  position:relative;

  background-color:transparant;
  color: white;
}

.Landing .splash-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.Landing img {
  height: 15rem;

  filter: brightness(0) invert(1);
}
.Landing h1, .Landing p {
  margin: 0px;
}
.Landing h1 {
  font-size: 5rem;
  font-family: 'Fugaz One';
}
.Landing p {
  font-size: 2rem;
}

.Landing section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Landing .parallax {
  /*background-image: url('https://www.transparenttextures.com/patterns/shattered-dark.png'), radial-gradient(center top, #FFFF00, #CF000F);*/
  background-image: url('https://www.transparenttextures.com/patterns/worn-dots.png');
  background-color: #6d7ad1;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}


.Nav.ui.menu {
  /*background-color: initial;*/
}
