.Landing .splash {
  text-align: center;

  height: 30rem;
  position:relative;

  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png"), linear-gradient(180deg, #93cfa6, #5bcf80);


  box-shadow: inset 0px 10px 30px -10px black; /*, 0px 20px 75px -20px black; /**/
  color: white;
}

.Landing .splash-center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.Landing img {
  width: 10rem;
  height: 10rem;

  filter: brightness(0) invert(1);
}
.Landing h1, .Landing p {
  margin: 0px;
}

.Landing section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
